<%- include("partials/header") %>


<div class="container">
  <div class="jumbotron centered">
    <h1 class="display-4 centered">Hello <%=firstName%> <%=lastName%> </h1>
    <p class="lead centered">Welcome to the Secret Site</p>
    <hr class="my-4">

    <% userSecrets.forEach( item => { %>
        <p class="secret-text rounded"><%=item.secret%></p>
    <% }) %>

  <form class="" action="/secrets" method="post">
    <div class="form-group">
        <input type="text" class="form-control text-center" name="secret" placeholder="Enter your secret here">
    </div>
    <button type="submit" name="button" class="btn btn-dark">Submit</button>
    <a href="/logout" class="btn btn-light btn-primary btn-md">Logout</a>
  </form>
  </div>
</div>


<%- include("partials/footer") %>
